body
{
 color: DarkRed;
 background-color:rgb(242, 243, 156);
 border: inset;
 border-color: Green;
}
h1 {
    text-align: center;
    color: rgb(223, 20, 20) ;
    text-decoration: underline;
}
h2 {
    text-align: center;
    color: rgb(255, 0, 76);
    text-decoration: underline;
    font-style: italic;
} 
img {
    width:650px;
    border:7px solid black;
    border-top-style: double;
}   
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
p {
    text-align: left;font-family: cursive;
}
ul {
    text-align: center;
    font-size: large;
    list-style-position: inside;  
}

table, th, td {
    border: 2px solid black;
  }
  th, td {
    padding: 15px;
    text-align: center;